*
{
    margin: 0;
    padding: 0;
}


.GALLERY
{
    display:    flex;
    justify-content:   space-around;
    align-items: center;
}



.TESTPIC
{
    min-width: 300px;
    width: 15vw;
    height: auto;
}


.LOC-T-01
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    margin-top:     10vh;
}